@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira/FiraSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira/FiraSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira/FiraSans-Light.ttf");
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3c0244;
  min-height: 100vh;
  background: linear-gradient(219deg, #3c0244 2%, rgba(1, 23, 79, 0.975228) 99%);
  font-family: "Fira Sans";
}

#navbar {
  background-color: transparent;
}

.bg-gradient-yellowish {
  background-color: #ca4246;
  /* Create the gradient. */
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 253, 73, 0.975228)), color-stop(96%, #ff6e61));
  background: linear-gradient(90deg, rgba(255, 253, 73, 0.975228) 0%, #ff6e61 96%);
}

.bg-gradient-greenish {
  background: #9549ff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(149, 73, 255, 0.975228)), color-stop(96%, #eb61ff));
  background: linear-gradient(90deg, rgba(149, 73, 255, 0.975228) 0%, #eb61ff 96%);
}

.bg-gradient-bluish {
  background: #497aff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(73, 122, 255, 0.975228)), color-stop(96%, #61ffad));
  background: linear-gradient(90deg, rgba(73, 122, 255, 0.975228) 0%, #61ffad 96%);
}

.gradient-text {
  /* Fallback: Set a background color. */
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  -webkit-animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
          animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.section-title {
  font: normal 300 2rem "Fira Sans";
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding: 1rem;
}

.nav-container {
  width: 100%;
  margin-top: 30px;
  font-size: 1rem;
}

.nav-container nav {
  max-width: 1500px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

.nav-container nav #nav-toggle,
.nav-container nav .burger-menu {
  display: none;
}

.nav-container nav #nav-toggle svg path,
.nav-container nav .burger-menu svg path {
  fill: white;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.nav-container nav #nav-toggle svg:hover path,
.nav-container nav .burger-menu svg:hover path {
  fill: #e6193b;
}

.nav-container nav .right-menu {
  text-transform: uppercase;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: right;
}

.nav-container nav .right-menu a {
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 2px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.nav-container nav .right-menu a:hover {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-container nav .logo {
  -ms-grid-column: 1;
  grid-column: 1;
  font-weight: bold;
  padding: 0px 2rem;
}

.nav-container nav .logo a {
  padding: 0.5rem;
  border: 3px white solid;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.nav-container nav .logo a:hover {
  border: 3px #e6193b solid;
  color: #e6193b;
}

@media only screen and (max-width: 1025px) {
  .nav-container nav .burger-menu {
    padding: 0px 1rem;
    display: inline-block;
    text-align: right;
  }
  .nav-container nav .right-menu {
    display: none;
    -webkit-transition: 0.3s all step-end;
    transition: 0.3s all step-end;
  }
  .nav-container nav #nav-toggle:checked ~ .right-menu {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #0c0922;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 100%;
    margin-top: 5vh;
    text-align: center;
  }
  .nav-container nav #nav-toggle:checked ~ .right-menu a {
    display: block;
    padding: 20px 0px;
  }
  .nav-container nav #nav-toggle:checked ~ .right-menu a:hover {
    background: rgba(212, 215, 228, 0.1);
    color: white;
  }
}

#site-banner {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#site-banner .site-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-banner .site-banner .me {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#site-banner .site-banner .me img {
  width: 50%;
}

#site-banner .site-banner .me h1 {
  padding: 20px 30px;
  font: normal bold 1.8rem "Fira Sans";
  letter-spacing: 5px;
  text-align: center;
}

#site-banner .site-banner .me p {
  font: normal 300 25px "Fira Sans";
  text-align: center;
}

#site-banner .site-banner .me .icons {
  width: 50%;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#site-banner .site-banner .me .icons a {
  padding: 5px;
}

#site-banner .site-banner .me .icons a i:hover {
  color: #e6193b;
}

.about-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-area {
  width: 80%;
}

.about-section .about-area div {
  width: auto;
}

.about-section .about-area .about-content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-area .about-content .about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-area .about-content .about-image img {
  width: 30rem;
}

.about-section .about-area .about-content .about-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2rem;
}

.about-section .about-area .about-content .about-info .para {
  margin-top: 4rem;
  text-align: left;
  text-transform: capitalize;
  font: normal 300 1rem/1.5rem "Fira sans";
  letter-spacing: 0.1rem;
  width: 75%;
}

.about-section .about-area .about-content .about-info .para .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-area .about-content .about-info .para .skills skill {
  font-weight: bold;
  margin: 0.5rem 0.3rem;
  padding: 0 2rem;
  border-radius: 2rem;
  border: 0.1rem white solid;
  text-transform: lowercase;
}

.about-section .about-area .about-content .about-info .para .skills skill:hover {
  color: #e6193b;
  border-color: #e6193b;
}

@media only screen and (max-width: 1025px) {
  .about-section .about-area .about-content .about-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-section .about-area .about-content .about-image img {
    width: 20rem;
  }
  .about-section .about-area .about-content .me h1 {
    font-size: 1.5rem;
  }
  .about-section .about-area .about-content .about-info h1 {
    text-align: center;
  }
  .about-section .about-area .about-content .about-info .para {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
}

.skills-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-area .skill-box {
  margin-top: 10vh;
  text-align: center;
}

.skills-area .skill-box .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2vh;
}

.skills-area .skill-box .skill-list .skill-list-card {
  width: 20rem;
  margin: 1rem 1rem;
  padding: 1rem;
  background-color: #161020d3;
  border-radius: 1rem;
  -webkit-box-shadow: -0.5rem 0.3rem 1rem black;
          box-shadow: -0.5rem 0.3rem 1rem black;
  text-align: left;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.skills-area .skill-box .skill-list .skill-list-card h1 {
  margin: 1rem 0;
}

.skills-area .skill-box .skill-list .skill-list-card img {
  height: 1.5rem;
}

.experience {
  width: 100%;
  text-align: center;
}

.experience .exp-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.experience .exp-box .exp-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  width: 20rem;
  margin: 1rem 1rem;
  padding: 1rem;
  background-color: #161020d3;
  -webkit-box-shadow: -0.5rem 0.3rem 1rem black;
          box-shadow: -0.5rem 0.3rem 1rem black;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.experience .exp-box .exp-card a {
  color: #5d5dcf;
  text-decoration: none;
  display: block;
  padding: 1rem 0;
}

.experience .exp-box .exp-card h2 {
  text-align: center;
  padding: 1rem;
}

.contact {
  margin-top: 4rem;
  text-align: center;
  width: 100%;
}

.contact h3,
.contact h4 {
  font-weight: 300;
  padding: 0.5rem;
}

.contact .contact-form .contact-field {
  padding: .5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.contact .contact-form .submit-btn {
  background: #6767f3;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.contact i {
  padding: 2rem;
  color: #9494fd;
}

.contact .telegram-icon {
  color: #3eb7e7;
}

.contact .email-icon {
  color: #db4007;
}

.contact .instagram-icon {
  color: #dd1081;
}

.contact .twitter-icon {
  color: #07b6d4;
}

.contact .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-icons a {
  display: block;
}

.footer {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.footer i {
  color: #eb0229;
}

.footer h3 {
  font-weight: 300;
}
/*# sourceMappingURL=styles.css.map */